<h2>Book Appointment</h2>

<form method="post">
    <label>Patient</label><br />
    <select name="PatientId">
        @foreach (var p in ViewBag.Patients)
        {
            <option value="@p.Id">@p.FullName</option>
        }
    </select><br /><br />

    <label>Doctor</label><br />
    <select name="DoctorId">
        @foreach (var d in ViewBag.Doctors)
        {
            <option value="@d.Id">@d.FullName</option>
        }
    </select><br /><br />

    <label>Date</label><br />
    <input type="datetime-local" name="AppointmentDate" /><br /><br />

    <button type="submit">Save</button>
</form>
