@model dynamic

<h2>Appointment History</h2>
<a href="/Appointments/Create">Book Appointment</a>

<table border="1">
    <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date</th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>@a.Patient.FullName</td>
            <td>@a.Doctor.FullName</td>
            <td>@a.AppointmentDate</td>
        </tr>
    }
</table>
