@model Patient

<h2>Add Patient</h2>

<form method="post">
    <input class="form-control" name="FullName" placeholder="Full Name" />
    <input class="form-control" name="Gender" placeholder="Gender" />
    <input class="form-control" name="Age" type="number" placeholder="Age" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
