@model Patient

<h2>Add Patient</h2>

<form method="post">
    <input name="FullName" placeholder="Full Name" /><br />
    <input name="Gender" placeholder="Gender" /><br />
    <input name="Age" placeholder="Age" /><br />
    <button type="submit">Save</button>
</form>
