@model List<Patient>

<h2>Patients List</h2>

<a href="/Patients/Create" class="btn btn-primary mb-3">Add Patient</a>

<table class="table table-striped table-bordered shadow-sm">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.FullName</td>
                <td>@p.Gender</td>
                <td>@p.Age</td>
            </tr>
        }
    </tbody>
</table>
